
#project-desc {
    color: rgba(250, 45, 125, 0.75);
}

#project-desc2 {
    color: rgba(250, 120, 125, 0.75);
}

#page-header {
    background-image: linear-gradient(120deg, rgb(25,45,200), rgb(225,50,220));
}
